@CHARSET "UTF-8";
/*  게시판 전체 적용 */
table {
	width: 760px;
	margin: 0 auto;
	padding: 5px 5px;
	border-collapse: collapse;	
	line-height: 160%;	
}

.boardTitle{
	height: 60px;
	line-height: 60px;	
	text-align: center;
	/* border-bottom: 1px dotted #787878; */
}

/*  게시 글 리스트 */
.listWrite { 
	text-align: right; 
	padding-right: 15px;	
	border-bottom: 1px dotted #787878; 
}
.listThNo { 
	width: 60px; 
	height: 30px;	
	border: 1px solid #787878; 
	background: #EAEAEA; 
}
.listThTitle { 
	width: 400px;	  
	border: 1px solid #787878;  
	background: #EAEAEA; 
}
.listThWriter { 
	width: 110px;	  
	border: 1px solid #787878; 
	background: #EAEAEA; 
}
.listThRegDate { 
	width: 130px;
	border: 1px solid #787878;  
	background: #EAEAEA; 
}
.listThReadCount {
	width: 60px;	
	border: 1px solid #787878;
	background: #EAEAEA;
}
.listTdSpan { 
	height: 30px; 
	text-align: center; 
	font-size: 12px; 
}
.listTdNo { 
	height: 30px;
}
.listTdTitle {	
	padding-left: 10px;	  
	border: 1px solid #AAAAAA; 
}
.listTdNo, .listTdWriter, .listTdRegDate, .listTdReadCount {
	text-align: center;		  
	border: 1px solid #AAAAAA; 
}
table .listTr:hover {
	background-color: #FFEEEE;
}
#searchForm {
	text-align: center;
}
.listPage { 
	height: 30px;
	text-align: center;	 
}

/* 게시 글 상세보기 */
.contentTh, .contentTd {
	border: 1px solid #787878;
}
.contentTh { 
	width: 120px; 
	height: 30px;	
	text-align: center;
	background-color: #EAEAEA;	
}
.contentTd {
	width: 260px;
	padding-left: 10px;
}
.readContent {	
	height: 300px;
	padding: 20px;
	border: 1px solid #787878;
	vertical-align: top;
	/* overflow: scroll; */
}
.tdSpan {
	height: 40px;
	line-height: 40px;
	text-align: center; 
}

/* 글쓰기 폼 */
.readTh, .readTd {
	height: 30px;
	border: 1px solid #AAAAAA;
	padding: 5px;
}
.readTh {
	width: 120px;
	text-align: center;
	line-height: 30px;
	background-color: #EAEAEA;	
}
.readTd {
	padding-left: 10px;
}
textarea { border: 1px solid #999999; font-size: 12px; }
input {	height: 20px; 	border: 1px solid #999999; }


/* 검색 결과 페이지 */
#searchComment {
	text-align: center;
	height: 30px;
}
.boardListLink {
	text-indent: 10px;
}